.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 50px; */
}
.groupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 35rem;
}

.groupTitle {
  font-size: 2rem;
}
.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 193px;
}

.groupButton {
  background-color: blue;
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.groupButton svg {
  margin-right: 0.5rem;
}
